$font-size-1: 4.8rem;
$font-size-2: 3.2rem;
$font-size-3: 2.4rem;
$font-size-4: 1.8rem;
$font-size-5: 1.4rem;
$font-size-6: 1.2rem;


$colors:(primary: #c0dfd9,
secondary: #b3c2bf,
dark: #3b3a36,
light: #e9ece5)